<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Diary Book Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <h2>WELCOME TO DIARY BOOK</h2>
        <p>
          This app is like a real book so<br />
          you can write notes what you<br />
          love, what you feel. It will<br />
          make you feel like someone<br />
          that always stand with you.
        </p>
        <!-- <div class="book-logo">
            <img src="https://play-lh.googleusercontent.com/WZOXoQ71_id2_g5exMYbHs1XCG_G5UmoJAohZrCjRAiLGYOshwmsR8sFkJK_1eTb3oY=w600-h300-pc0xffffff-pd" alt="">
        </div> -->
      </div>
      <div class="right">
        <h2>USER LOGIN</h2>
        <input type="text" id="username" placeholder="Username" />
        <input type="password" id="password" placeholder="Password" />
        <button onclick="login()">Login</button>
        <div class="error" id="errorMsg"></div>
        <p style="text-align:center;margin-top:12px;color:#fff;">
          Don't have an account? <a href="register.html" style="color:#fdebd0;">Register</a>
        </p>
      </div>
    </div>
  </body>
</html>